exportPattern("^[[:alpha:]]+")
export(FlowJoBarcode)
export(ImportFJGates)
export(resolveMultiContigs)
export(flagBdoublets)
export(flagNonBdoublets)
export(flagVDJdoublets)
export(run_igblast)
export(Blastn_c_call)
export(reconstructFullVDJ)
export(ImportSangerVDJ)
export(scImportVDJ)
export(scFindBCRClones)
export(addAIRRmetadata)
export(plot_multi_histogram)
export(DonutPlotClonotypes3D)
export(DonutPlotClonotypes)
